<!DOCTYPE html>
<html>
<head>
  <title>RestoApp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'bootstrap_and_overrides', media: 'all'%>
  <%= stylesheet_link_tag 'animate', media: 'all'%>
  <%= stylesheet_link_tag 'style', media: 'all'%>
  <%= stylesheet_link_tag 'media-queries', media: 'all'%>
  <%= stylesheet_link_tag 'form-elements', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:200,300' rel='stylesheet' type='text/css'>
</head>

<body>
<%= yield %>

</body>

</html>
